/* -- Global vars -- */
:root {
  --white: #fff;
  --light-blue: #c0c7cf;
  --dark-blue: #0d172a;
}

/* -- Global styles/reset -- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--dark-blue);
  font-size: 18px;
  font-weight: 200;
  padding: 30px 20px;
}

/* -- Header --*/
header {
  text-align: center;
  color: var(--light-blue);
}

header h1 {
  font-family: 'Albert Sans', sans-serif;
}

/* -- Card--*/
.card {
  background: rgb(77,6,108);
  background: linear-gradient(329deg, rgba(77,6,108,1) 0%, rgba(7,31,108,1) 23%, rgba(0,65,255,1) 100%);
  border-radius: 10px;
  border-width: 2px;
  box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
  color: var(--white);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 60px;
}

.card h2 {
  border-bottom: 2px solid rgba(7,31,108,.75);
  margin: 0px;
  padding-bottom: 5px;
  font-weight: 200;
}

.card-body {
  min-height: 100px;
  margin: 20px 0;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  padding: 15px 15px 85px;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 0;
  color: var(--white);
  border: 2px dashed var(--light-blue);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

#password::placeholder {
  color: var(--light-blue);
}

.button {
  background-color: var(--white);
  border: 0 solid var(--light-blue);
  border-radius: 2rem;
  box-sizing: border-box;
  color: var(--dark-blue);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none var(--dark-blue) solid;
  text-decoration-thickness: auto;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}